#!/system/bin/sh
busybox="/data/adb/magisk/busybox"
iw="/data/data/com.termux/files/usr/bin/iw"

# Proxy mode (tun tproxy enhance)
mode="enhance"

sourcefile="../config_files/1.12.json"
workfile="../config_files/1.12.json"
binfile="../binary_files/provider1.12.0-rc.4"



tproxy_port="1536"
redir_port="7891"
tun_device="tun0"



intranet=(0.0.0.0/8 10.0.0.0/8 100.0.0.0/8 127.0.0.0/8 169.254.0.0/16 192.0.0.0/24 192.0.2.0/24 192.88.99.0/24 192.168.0.0/16 198.51.100.0/24 203.0.113.0/24 224.0.0.0/4 240.0.0.0/4 255.255.255.255/32)
# The use of 100.0.0.0/8 instead of 100.64.0.0/10 is purely due to a mistake by China Telecom's service provider, and you can change it back.
intranet6=(::/128 ::1/128 ::ffff:0:0/96 100::/64 64:ff9b::/96 2001::/32 2001:10::/28 2001:20::/28 2001:db8::/32 2002::/16 fe80::/10 ff00::/8)


ipv6="disable"

network_mode="enhance"
# Options: enhance (tcp:redirect + udp:tproxy), tproxy (tcp+udp:tproxy)
user_packages_list=(com.eg.android.AlipayGphone com.ss.android.article.lite)
# Android User:Package Name, For example:
# user_packages_list=("0:com.android.captiveportallogin" "10:com.tencent.mm")

gid_list=()
# The gid in the list will be bypassed or proxied according to the proxy_mode configuration, and the gid can be arbitrarily specified by the busybox setuidgid command

ap_list=("wlan+" "ap+" "rndis+")
ignore_out_list=()
